<div class="container">
  <div class="craft">
    <div class="column">
      <label>
        <input type="text" [(ngModel)]="weaponSearch" />
        Search weapon
      </label>

      <cdk-virtual-scroll-viewport itemSize="70" class="results">
        <div class="scroll-wrapper">
          <div
            *cdkVirtualFor="let weapon of filteredWeapons"
            class="skin"
            [ngClass]="{ selected: weapon === selectedWeapon }"
            (click)="selectWeapon(weapon)"
          >
            <img class="preview" [src]="weapon.image" />

            <span>
              {{ weapon.display }}
            </span>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>

    <div class="column">
      <label>
        <input type="text" [(ngModel)]="skinSearch" />
        Search skin
      </label>

      <cdk-virtual-scroll-viewport itemSize="70" class="results">
        <div class="scroll-wrapper">
          <div
            *cdkVirtualFor="let skin of filteredSkins"
            class="skin"
            [ngClass]="[
              'rarity_' + skin.rarity,
              skin === selectedSkin ? 'selected' : ''
            ]"
            (click)="selectSkin(skin)"
          >
            <img class="preview" [src]="skin.image" />

            <span>
              {{ skin.title }}
            </span>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>

  <div class="options">
    <div class="option">
      <label>
        Pattern ID
        <input type="number" min="0" max="999" [(ngModel)]="patternId" />
      </label>
    </div>
    <div class="option">
      <label>
        Float
        <input type="number" min="0" max="1" step="0.05" [(ngModel)]="float" />
      </label>
    </div>

    @if (selectedWeapon && !selectedWeapon.isKnife) {
      <div class="label">
        <span>Stickers</span>
        <button
          (click)="removeAllStickers()"
          matRipple
          matRippleColor="#cccccc45"
        >
          Remove all
        </button>
      </div>
      <div class="option">
        @for (place of selectedWeapon.order; track $index) {
          <div class="sticker-container">
            @if (selectedStickers[place]) {
              <div
                class="sticker"
                [ngStyle]="{
                  'background-image': selectedStickers[place]!.image.includes(
                    'assets/'
                  )
                    ? 'url(' + selectedStickers[place]!.image + ')'
                    : 'url(https://media.steampowered.com/apps/730/icons/econ/stickers/' +
                      selectedStickers[place]!.image +
                      ')',
                  'background-size': 'contain',
                  'background-position': 'center center',
                  'background-repeat': 'no-repeat'
                }"
                (click)="openStickerPopup(place)"
              >
                <button class="remove" (click)="removeSticker(place)">X</button>
              </div>

              <input [(ngModel)]="selectedStickers[place]!.wear" />
            } @else {
              <button class="add-sticker" (click)="openStickerPopup(place)">
                <span>+</span>
              </button>
            }
          </div>
        }
      </div>
    }
  </div>

  <div class="code">
    <input
      #code
      disabled
      [value]="
        '!gen ' +
        (selectedWeapon ? selectedWeapon.id : 0) +
        ' ' +
        (selectedSkin ? selectedSkin.paint : 0) +
        ' ' +
        patternId +
        ' ' +
        float +
        ' ' +
        (selectedStickers[1] !== null ? selectedStickers[1].id : 0) +
        ' ' +
        (selectedStickers[1] !== null ? selectedStickers[1].wear : 0) +
        ' ' +
        (selectedStickers[2] !== null ? selectedStickers[2].id : 0) +
        ' ' +
        (selectedStickers[2] !== null ? selectedStickers[2].wear : 0) +
        ' ' +
        (selectedStickers[3] !== null ? selectedStickers[3].id : 0) +
        ' ' +
        (selectedStickers[3] !== null ? selectedStickers[3].wear : 0) +
        ' ' +
        (selectedStickers[4] !== null ? selectedStickers[4].id : 0) +
        ' ' +
        (selectedStickers[4] !== null ? selectedStickers[4].wear : 0) +
        ' ' +
        (selectedStickers[5] !== null ? selectedStickers[5].id : 0) +
        ' ' +
        (selectedStickers[5] !== null ? selectedStickers[5].wear : 0)
      "
    />
    <button (click)="copyCode(code)" matRipple matRippleColor="#cccccc45">
      Copy
    </button>
    <button (click)="createInspectLink()" matRipple matRippleColor="#cccccc45">
      Create link
    </button>

    @if (generatedLink) {
      <a [href]="generatedLink">Inspect in game</a>
    }
  </div>
</div>

@if (stickerPopup && currentStickerPlace) {
  <app-popup (onClose)="closePopup()">
    <div class="popup">
      <h1>Choose sticker</h1>
      <br />
      <div class="sticker-search">
        <div class="filters">
          <label>
            <input type="text" [(ngModel)]="stickerSearch" />
            Search skin
          </label>

          <label>
            <input type="checkbox" [(ngModel)]="includeAutographs" />
            Autographs
          </label>
        </div>

        <div class="slider">
          <mat-slider min="0" max="360">
            <input matSliderStartThumb [(value)]="minHue" />
            <input matSliderEndThumb [(value)]="maxHue" />
          </mat-slider>
        </div>

        <div class="results">
          @for (sticker of filteredStickers; track $index) {
            <div
              class="sticker"
              [ngClass]="{
                selected: selectedStickers[currentStickerPlace] === sticker
              }"
              (click)="selectSticker(sticker)"
            >
              @defer (on viewport) {
                <img
                  class="preview"
                  [src]="
                    sticker.image.includes('assets')
                      ? sticker.image
                      : 'https://media.steampowered.com/apps/730/icons/econ/stickers/' +
                        sticker.image
                  "
                />
              } @placeholder {
                <div class="placeholder"></div>
              }
              <span>{{ sticker.title }}</span>
            </div>
          }
        </div>
      </div>
    </div>
  </app-popup>
}
