.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  color: white;
  gap: 10px;

  .tab-buttons {
    display: flex;
    width: 850px;

    &::before {
      width: 5px;
      content: "";
      border-bottom: 2px solid white;
    }

    &::after {
      flex-grow: 100;
      content: "";
      border-bottom: 2px solid white;
    }

    .tab-button {
      cursor: pointer;
      padding: 5px 7px;
      border-top: 2px solid transparent;
      border-bottom: 2px solid white;

      &.active {
        padding: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border: 2px solid white;
        border-bottom: 2px solid #0c0d0e;
      }

      &:hover:not(.active) {
        padding: 6px;
        padding-bottom: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border: 1px solid #ccc;
        border-bottom: 2px solid white;
      }
    }
  }
}
