<div class="app">
  <div class="tab-buttons">
    <div
      class="tab-button"
      [ngClass]="{ active: currentTab == 'skin' }"
      (click)="openTab('skin')"
    >
      Gun/Knife
    </div>

    <div
      class="tab-button"
      [ngClass]="{ active: currentTab == 'glove' }"
      (click)="openTab('glove')"
    >
      Glove
    </div>

    <div
      class="tab-button"
      [ngClass]="{ active: currentTab == 'agent' }"
      (click)="openTab('agent')"
    >
      Agent
    </div>
  </div>

  <div class="tabs">
    @switch (currentTab) {
      @case ("skin") {
        <app-skin></app-skin>
      }

      @case ("glove") {
        <app-glove></app-glove>
      }

      @case ("agent") {
        <app-agent></app-agent>
      }
    }
  </div>
</div>
